.person-photo {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__full-screen {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .7);
    cursor: pointer;

    &-img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
    &-border {
      display: inline-block;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
    }
  }
}
